@media (min-width: 1025px) {
    .header {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/bg-header.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        mix-blend-mode: normal;
        height: 768px;
    }

    .header__logo img {
        height: 90px;
        width: 130px;
        margin-top: 24px;
    }

    .header__link {
        margin-top: 13px;
    }

    .nav-link {
        display: block;
        padding: 0px 18px 0px 18px;
        color: #0d6efd;
        text-decoration: none;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    }

    .link-nav__item {
        font-size: 18px;
        color: white;
        padding-left: 25px;
        padding-right: 25px;
        text-decoration: none;
    }

    .header-socials__item img {
        height: 24px;
        width: 24px;
    }

    .header__banner {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-content: center;
        align-items: center;
        margin-top: 30px;
    }

    .heafer-banner__title {
        width: 595px;
        padding: 0;
        font-size: 44px;
        line-height: inherit;
        color: white;
        white-space: wrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .header-banner__video video {
        height: 324px;
        width: 555px;
        margin-top: 28px;
    }

    .header-banner__scrolldown {
        margin-top: 50px;
        text-align: center;
        height: 7px;
        width: 16px;
        cursor: pointer;
    }

    .video__overlay {
        left: 0;
        position: absolute;
        top: calc(50% - 14px);
        max-height: 100px;
        width: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .overlay--size-sm img {
        width: 56px;
        height: 56px;
    }

    .advantages-md h3 {
        font-size: 44px;
        margin-top: 80px;
        margin-bottom: 32px;
    }

    .advantages-md h4 {
        font-size: 18px;
    }

    .advantages-md h5 {
        font-size: 16px;
    }

    .advantages-md p {
        font-size: 16px;
        width: 262px;
    }

    .advantages-contents__item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 30px;
    }

    .advantages-contents__macbook {
        display: none;
    }

    .advantages-contents__macbook-lg {
        margin-left: -3rem;
        display: block;
        overflow: hidden;
    }

    .advantages-contents__layout img {
        width: 53px;
        height: 44px;
    }

    .advantages-contents__perfect img {
        width: 44.12px;
        height: 37.82px;

    }

    .advantages-contents__layer img {
        width: 34.8px;
        height: 47.07px;
    }

    .cta {
        background-image: url("../img/bg-cta.png");
        height: 572px;
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        color: #fff;
    }

    .cta h3 {
        font-size: 44px;
        margin-top: 100px;
        margin-bottom: 22px;
    }

    .cta__contents {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .cta__contents p {
        margin-top: 5px;
        width: 555px;
        font-size: 16px;
        text-align: center;
    }

    .cta--button {
        width: 210px;
        height: 46px;
        border-radius: 50px;
        background-color: #EBCB80;
        color: #4B4B4B;
        font-size: 16px;
        margin-top: 40px;
        padding-top: 10px;
    }

    .testimonials h3 {
        font-size: 44px;
        margin-top: 71px;
        margin-bottom: 15px;
    }

    .testimonials p {
        margin-top: 29px;
        font-size: 16px;
        width: 350px;
    }

    .testimonials-card__person img {
        width: 96px;
        height: 96px;
    }

    .testimonials__contents h4,
    h5 {
        font-size: 16px;
    }

    .testimonials h5 {
        color: #7D7D7D;
    }

    .testimonials-contents__card {
        padding-top: 35px;
        padding-bottom: 35px;
        margin-bottom: 35px;
    }

    .testimonials-contents__card:hover {
        border-radius: 5px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }

    .pricing {
        background-color: #F6F6F6;
        margin-top: 20px;
    }

    .pricing h3 {
        font-size: 44px;
        padding-top: 68px;
        margin-bottom: 52px;
    }

    .pricing__contents {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        padding-bottom: 50px;
    }

    .pricing-contents__card {
        width: 270px;
        height: 396px;
        margin-top: 30px;
        border-radius: 8px;
        background: linear-gradient(#4B4B4B 100%, #ffff 70%);
        color: #fff;
    }

    .pricing-card--left {
        background: #373737;
    }

    .pricing-card--right {
        background: #232323;
    }

    .pricing-card--center {
        width: 270px;
        height: 396px;
        margin-top: 30px;
        border-radius: 8px;
        background-color: #EBCB80;
        color: #4B4B4B;
    }

    .pricing-contents__card h5 {
        margin-top: 40px;
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: bolder;
        color: #EBCB80;
    }

    .pricing-card--center h5 {
        margin-top: 40px;
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: bolder;
        color: #4B4B4B;
    }

    .card-header__sup {
        font-size: 24px;
        top: -1.5rem;
        left: -0.5rem;
    }

    .card-header__number {
        margin-top: -10px;
        font-size: 64px;
        margin-bottom: 15px;
    }

    .pricing-card__title {
        font-size: 18px;
        font-weight: bolder;
        margin-bottom: 20px;
        white-space: wrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .pricing-card__main {
        font-size: 16px;
        line-height: 1.5rem;
        white-space: wrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .pricing--yellow-button {
        width: 198px;
        height: 48px;
        border-radius: 50px;
        background-color: #EBCB80;
        color: #4B4B4B;
        font-size: 16px;
    }

    .pricing--dark-button {
        background-color: #4B4B4B;
        color: #fff;
        width: 198px;
        height: 48px;
        font-size: 16px;
    }

    .projects {
        margin-top: 66px;
    }

    .projects h3 {
        font-size: 44px;
        margin-bottom: 54px;
    }

    .projects-card__1 {
        height: 380px;
        width: 380px;
        background: url("../img/first-card.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .projects-card__2 {
        background-image: url("../img/second-card.png");
        height: 380px;
        width: 760px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 40px;
    }

    .main-item-1__title h6 {
        font-size: 32px;
        padding-bottom: 10px;
        margin-top: -5px;
    }

    .main-item-1__title {
        font-size: 18px;
        width: 250px;
    }

    .card-2-main__item-2 {
        font-size: 11px;
        margin-top: 30px;
        width: 300px;
    }

    .projects-card__hr--white {
        border: #fff solid 3px;
        width: 2rem;
        background-color: #fff;
        opacity: inherit;
    }

    .card-2-main__item-2 p {
        font-size: 16px;
        margin-top: 38px;
    }

    .projects-card__socials {
        margin-top: 20px;
    }

    .projects-card__socials ul .nav-link {
        font-size: 12px;
        padding-top: 5px;
        color: #fff;
        padding-left: 0;
        text-decoration: none;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    }

    .projects-card__socials img {
        padding-top: 5px;
        padding-right: 5px;
    }

    .projects-card__3 {
        background-image: url("../img/third-card.png");
        height: 380px;
        width: 760px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .projects-card__4 {
        background-image: url("../img/four-card.png");
        height: 380px;
        width: 380px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .projects-card__5 {
        background-image: url("../img/five-card.png");
        height: 380px;
        width: 380px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .projects-card__6 {
        background-color: #F6F6F6;
        color: #4B4B4B;
        height: 380px;
        width: 380px;
        padding-left: 40px;
    }

    .main-item-1__title h6 {
        font-size: 32px;
        margin-bottom: 10px;
        margin-top: 60px;
    }

    .main-item-1__title {
        font-size: 18px;
        width: 250px;
    }

    .card-6-main__item-2 {
        font-size: 11px;
        width: 185px;
        margin-top: 31px;
    }

    .projects-card__hr--black {
        border: #4B4B4B solid 3px;
        width: 2rem;
        background-color: #4B4B4B;
        opacity: inherit;
    }

    .card-6-main__item-2 p {
        width: 100px;
        margin-top: 37px;
        font-size: 64px;
        line-height: 3.5rem;
    }

    .projects-card__7 {
        background-image: url("../img/six-card.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 380px;
        width: 380px;
    }

    .projects__card {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: nowrap;
    }

    .projects__pagination-md {
        margin-top: 60px;
    }

    .carousel-indicators--numbers li {
        display: inline-block;
        margin-bottom: 4px;
        margin: 12px;
        font-weight: 400;
        font-size: 18px;
        color: #4B4B4B;
        width: 40px;
        height: 40px;
        line-height: 42px;
        text-align: center;
        text-decoration: none;
        text-align: center;
        vertical-align: middle;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .carousel-indicators--numbers [data-bs-target] {
        box-sizing: content-box;
        flex: 0 1 auto;
        display: inline-block;
        margin-bottom: 4px;
        margin: 12px;
        font-weight: 400;
        font-size: 18px;
        color: #4B4B4B;
        width: 42px;
        height: 42px;
        line-height: 44px;
        text-align: center;
        text-decoration: none;
        text-align: center;
        text-indent: 0;
        cursor: pointer;
        background: #fff;
        border-radius: 50%;
        /* background-clip: padding-box; */
        /* border: 0; */
        /* border-top: 10px solid transparent; */
        /* border-bottom: 10px solid transparent; */
        /* opacity: .5; */
        /* transition: opacity .6s ease;*/
    }

    .projects-pagination__li {
        display: inline-block;
        margin-bottom: 4px;
        margin: 12px;
        font-weight: 400;
        font-size: 18px;
        color: #4B4B4B;
        width: 40px;
        height: 40px;
        line-height: 42px;
        text-align: center;
        text-decoration: none;
        text-align: center;
        vertical-align: middle;
    }

    .projects-pagination__li a {
        display: inline-block;
        vertical-align: middle;
    }

    .projects-pagination__li img {
        width: 10px;
        height: 20px;
        margin-top: 11px;
    }

    .projects-pagination__li:hover:after,
    .projects-pagination__li:active:after {
        background: #fff;
        color: #EBCB80;
        border: 1px solid transparent;
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 50%;
        border: #F6F6F6 solid 1px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        opacity: -2;
    }

    .team__carousel {
        height: 590px;
    }

    .team-carousel__content-md {
        padding-right: 350px;
        padding-bottom: 30px;
    }

    .team-carousel__content h3 {
        font-size: 32px;
        margin-bottom: 15px;
    }

    .team-carousel__content h4 {
        margin-top: 3px;
        font-size: 18px;
    }

    .team-carousel__content p {
        margin-top: 36px;
        font-size: 16px;
        line-height: 24px;
    }

    .team__pagination {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
        display: flex;
        justify-content: center;
        flex-direction: row;
        padding: 0;
        margin-right: 9.3rem;
        margin-bottom: 6.4rem;
        list-style: none;
    }

    .carousel-indicators--team [data-bs-target] {
        box-sizing: border-box;
        width: 10px;
        height: 10px;
        border: 1px solid white;
        border-radius: 100px;
        display: inline-block;
        cursor: pointer;
        /* margin: 0 4px; */
        transition: 0.3s;
        margin: 5px;
        opacity: inherit;
    }

    .team-pagination__dot {
        box-sizing: border-box;
        width: 10px;
        height: 10px;
        border: 1px solid white;
        border-radius: 100px;
        display: inline-block;
        cursor: pointer;
        margin-bottom: 10.5px;
        transition: 0.3s;
        background-color: transparent;
    }

    .team-pagination__dot .active {
        background: white;
    }

    .team-pagination__dot:hover,
    .team-pagination__dot:active {
        transition: 0.3s;
        border-color: white;
        background: white;
    }

    .team-pagination__dot:hover:after,
    .team-pagination__dot:active:after {
        top: -18px;
        opacity: 1;
    }

    .contact__iphone {
        display: block;
        margin-top: -6.0rem;
    }

    .contact h3 {
        font-size: 44px;
        margin-top: 67px;
        margin-bottom: 69px;
    }

    .form-control {
        font-size: 18px;
        margin-bottom: 40px;
    }

    .contact__address {
        white-space: wrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-left: 60px;
    }

    .contact__address p {
        font-size: 16px;
        width: 234px;
    }

    .contact__socials {
        margin-top: 35px;
        width: 300px;
        margin-left: -.7rem;
    }

    .contact__socials img {
        width: 25px;
        height: 25px;
    }

    .form--boder {
        border-bottom: 1px solid #7D7D7D !important;
        outline: none;
    }

    .contact--button {
        margin-top: 18px;
        width: 210px;
        height: 48px;
        font-size: 16px;
    }

    .contact__socials {
        margin-left: 1px;
    }

    .contact-address__icons-location {
        margin-top: 3px;
        width: 10.76px;
        height: 16.72px;
    }

    .contact-address__icons-phone {
        margin-top: 3px;
        width: 12px;
        height: 17.01px;
    }

    .contact-address__icons-mail {
        margin-top: 8px;
        width: 17px;
        height: 10px;
    }

    .map-responsive {
        padding-bottom: 347px;
    }

    .map-responsive iframe {
        left: 0;
        top: 0;
        padding-bottom: -29.6rem;
        height: 100%;
        width: 100%;
        position: absolute;
    }

    footer {
        background-color: #4B4B4B;
        color: #fff;
        height: 100%;
    }

    .footer__logo {
        margin-top: 20px;
    }

    .footer-img__logo {
        width: 142x;
        height: 90px;
    }

    .footer__contents {
        width: 270px;
        text-align: start;
        white-space: wrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .footer-contents__intro p {
        margin-top: 10px;
        font-size: 18px;
        text-align: start;
    }

    .footer-contents__copyright p {
        width: 270px;
        font-size: 16px;
        margin-top: 30px;
        text-align: start;
    }

    .footer__contents h3 {
        margin-top: 30px;
        margin-bottom: 15px;
        font-size: 18px;
    }

    .footer__contents input {
        border: 1px solid #7D7D7D !important;
        background: #4B4B4B;
        width: 262px;
        height: 59.5px;
        font-size: 11px;
    }

    .footer__contents button {
        background: #EBCB80;
        width: 51px;
        height: 60px;
        position: absolute;
        margin-left: 13.1rem;
        padding: 10px;
    }

    .form-group input {
        font-size: 16px;
    }

    .footer__contents button img {
        background: transparent;
        width: 16px;
        height: 32px;
        margin-top: 2px;
    }

    .footer-contents__navlink .link__nav {
        display: flex;
        flex-direction: column;
        padding-left: 0px;
        margin-bottom: 0px;
        list-style: none;
        flex-wrap: wrap;
        align-items: start;
        justify-content: start;
        align-content: space-around;
    }

    .footer-contents__navlink .link-nav__item {
        font-size: 18px;
        margin-bottom: 15px;
    }

    .footer-contents__navlink .nav-item {
        margin-bottom: 15px;
        width: 150px;
    }

    .footer-contents__navlink .link-nav__item:hover {
        color: #EBCB80;
    }


    .footer-contents-end__title h3 {
        text-align: end;
        font-size: 18px;
    }

    .footer-contents-end__title {
        margin-top: 15px;
        margin-left: 15px;
    }

    .footer-contents__end {
        margin-top: 26px;
    }

    .footer-contents__end img {
        margin-top: 15px;
        width: 25px;
        height: 30px;
    }

    .footer-contents__end li a {
        padding: 10px;
        padding-right: 16.5px;
    }
}
