@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;600;700&family=Roboto:wght@300&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #4B4B4B;
}

h4,
h5 {
    font-size: 12px;
}

.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/bg-header.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    mix-blend-mode: normal;
    height: 540px;
    position: relative
}

.header .link-nav__item:hover {
    color: #EBCB80;
}


.header__link {
    margin-top: 10px;
}

.header__logo img {
    height: 38px;
    width: 53px;
    margin-top: 15px;
    margin-left: 26px;
}

@media (min-width: 768px) {
    .header__socials-sm {
        display: none;
    }

    .advantages-sm {
        display: none;
    }
}

.header__socials-md {
    display: none;
}

.header__socials-sm {
    display: block;
    margin-left: -30px;
}

.header--toggler {
    border: none;
    margin-top: 5px;
}

.header--toggler:hover {
    border: none;
}

.header__banner {
    text-align: center;
    position: absolute;
    top: 130px;
    width: 100%;
}

.header-banner__scrolldown {
    margin-top: 100px;
    text-align: center;
    height: 7px;
    cursor: pointer;
}

.header-banner__video {
    position: relative;
}

.header-banner__video video {
    width: 240px;
    height: 140px;
    margin-top: 28px;
}

.video__overlay {
    left: 0;
    position: absolute;
    top: 0;
    max-height: 100px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.overlay--size-sm {
    top: calc(50% - 14px);
}

.overlay--size-sm img {
    width: 56px;
    height: 56px;
}

.heafer-banner__title {
    padding: 0;
    font-size: 20px;
    line-height: inherit;
    color: white;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 35px;
}

.heafer-banner__title h1 {
    margin-top: 30px;
}

.link__nav-header {
    display: flex;
    padding-left: 0px;
    margin-bottom: 0px;
    list-style: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: space-around;
}

.link-nav__item {
    font-size: 10px;
    color: white;
    /* padding-left: 16px; */
    /* padding-right: 16px; */
    padding-bottom: 5px;
    text-decoration: none;
    border-color: rgba(0, 0, 0, .1);
    white-space: nowrap;
    overflow: hidden;
    padding: 0 8px;
    text-overflow: ellipsis;
}

.header-socials {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.header-socials__item img {
    height: 16px;
    width: 16px;
    margin-top: 10px;
}

.advantages-md {
    display: none;
}

.advantages {
    margin-top: 28px;
}

.advantages h4 {
    margin-bottom: 35px;
}

.advantages p {
    margin-top: 10px;
    font-size: 11px;
}

.advantages ul {
    row-gap: 1.5rem;
}

.advantages-item__main {
    padding-left: 1rem;
    width: 200px;
}

.advantages-contents__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 40px;
}

.advantages-contents__layout img {
    width: 39px;
    height: 33px;
}

.advantages-contents__perfect img {
    width: 39px;
    height: 27px;
}

.advantages-contents__layer img {
    width: 39px;
    height: 32px;
}

.advantages-contents__macbook {
    text-align: center;
}

.advantages-contents__macbook img {
    width: 290px;
    height: 168.32px;
}

.cta {
    background-image: url("../img/bg-cta.png");
    height: 312px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: #fff;
    margin-top: 25px;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cta h3 {
    font-size: 20px;
    color: #FFF;
}

.cta__contents {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.cta__contents p {
    width: 240px;
    font-size: 11px;
    text-align: center;
}

.button {
    min-width: 120px;
    min-height: 21px;
    border-radius: 50px;
    background-color: #EBCB80;
    color: #4B4B4B;
    padding: 9px;
    cursor: pointer;
    outline: none;
    transition: opacity .2s ease;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.overflow {
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.button:hover {
    opacity: 0.8;
}

.cta--button {
    height: 32px;
    border-radius: 50px;
    background-color: #EBCB80;
    color: #4B4B4B;
    font-size: 11px;
    margin-top: 20px;
    padding-top: 8px;
}

.cta--button:hover {
    background-color: #4B4B4B;
    color: #EBCB80;
}

.testimonials {
    margin-top: 40px;
    overflow: hidden;
}

.testimonials h3 {
    font-size: 20px;
}

.testimonials h4,
h5 {
    font-size: 12px;
}

.testimonials h5 {
    margin-top: 15px;
}

.testimonials p {
    font-size: 11px;
    margin-top: 10px;
}

.border-bottom {
    border-bottom: 1px solid #F6F6F6 !important;
}

.testimonials__contents {
    margin-top: 10px;
}

.border--solid {
    border-style: solid;
    border-color: white;
}

.testimonials-main__nav {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-top: 18px;
    margin-bottom: 0;
    list-style: none;
}

.testimonials-main__nav a {
    margin-right: 14px;
}

.pricing {
    background-color: #F6F6F6;
    margin-top: 40px;
    overflow: hidden;
}

.pricing h3 {
    font-size: 20px;
    padding-top: 52px;
}

.card-header__sup {
    font-size: 11px;
    top: -1rem;
    left: -1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pricing__contents {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.pricing-contents__card {
    width: 240px;
    height: 260px;
    margin-top: 10px;
    border-radius: 8px;
    background: linear-gradient(#4B4B4B 100%, #ffff 70%);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pricing-card--left {
    background: #373737;
}

.pricing-card--right {
    background: #232323;
}

.pricing-card--center {
    width: 240px;
    height: 260px;
    margin-top: 10px;
    border-radius: 8px;
    background-color: #EBCB80;
    color: #4B4B4B;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pricing-contents__card h5 {
    margin-top: 15px;
    font-size: 12px;
    font-weight: bolder;
    color: #EBCB80;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pricing-card--center h5 {
    margin-top: 15px;
    font-size: 12px;
    font-weight: bolder;
    color: #4B4B4B;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-header__number {
    margin-top: -10px;
    font-size: 36px;
}

.pricing-card__title {
    font-size: 12px;
    font-weight: bolder;
    margin-top: -10px;
    margin-bottom: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pricing-card__main {
    font-size: 11px;
    line-height: 1rem;
}

.pricing-card__header {
    margin-top: -15px;
}

.pricing--yellow-button {
    margin-top: 5px;
    width: 150px;
    height: 33.55px;
    border-radius: 50px;
    background-color: #EBCB80;
    color: #4B4B4B;
    font-size: 11px;
}

.pricing--dark-button {
    background-color: #4B4B4B;
    color: #fff;
    margin-top: 5px;
    width: 150px;
    height: 33.55px;
    font-size: 11px;
}

.pricing--yellow-button:hover {
    background-color: #FFF;
    color: #000;
}

.pricing--dark-button:hover {
    background-color: #000;
    color: #EBCB80;
}

.projects {
    margin-top: 28px;
}

.projects-card__1 {
    height: 97.76px;
    background: url("../img/first-card.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.projects-card__2 {
    background-image: url("../img/four-card.png");
    height: 97.76px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.projects-card__3 {
    background-image: url("../img/second-card.png");
    height: 112px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.projects-card__4 {
    background-image: url("../img/six-card.png");
    height: 84px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.projects-card__5 {
    background-image: url("../img/five-card.png");
    height: 84px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.projects-card__6 {
    background-image: url("../img/third-card.png");
    height: 97.76px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.projects-card__7 {
    background-color: #F6F6F6;
    height: 97.76px;
}

.projects__card {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.projects-md {
    display: none;
}

.projects-sm {
    display: block;
}

.card-3-main__item-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-item-1__title h6 {
    font-size: 16px;
}

.main-item-1__title {
    font-size: 11px;
}

.card-3-main__item-2 {
    font-size: 11px;
    margin-top: 0.8rem;
}

.card-3-main__item-2 p {
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.projects-card__hr--black {
    border: #4B4B4B solid 1px;
    width: 1rem;
    background-color: #000;
    opacity: inherit;
}

.projects-card__hr--white {
    border: #fff solid 1px;
    width: 1rem;
    background-color: #fff;
    opacity: inherit;
}

.projects-card-3__main {
    margin: 10px 25px 10px 15px;
}

.card-7-main__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #4B4B4B;
}

.card-7-main__item h6 {
    font-size: 16px;
}

.card-7-main__item p {
    font-size: 12px;
}

.card-7-main__item {
    font-size: 32px;
    margin-top: 5px;
}

.projects-card-7__main {
    margin-left: 25px;
}

@media (min-width: 768px) {
    .projects-sm {
        display: none;
    }

    .projects__pagination-sm {
        display: none;
    }
}

.projects__pagination-md {
    display: none;
}

.projects__pagination {
    margin-top: 16.78px;
}

.carousel-indicators--numbers {
    position: inherit;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 0px;
    margin-bottom: 1rem;
    margin-left: 0px;
    list-style: none;
    align-items: center;
}

.carousel-indicators--numbers [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    display: inline-block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    color: #4B4B4B;
    width: 40px;
    height: 40px;
    line-height: 42px;
    text-align: center;
    text-decoration: none;
    text-align: center;
    text-indent: 0;
    cursor: pointer;
    background: #fff;
    opacity: inherit;
    /*border-radius: 50%;
    border: #F6F6F6 solid 1px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);*/
    /* background-clip: padding-box; */
    /* border: 0; */
    /* border-top: 10px solid transparent; */
    /* border-bottom: 10px solid transparent; */
    /* opacity: .5; */
    /* transition: opacity .6s ease;*/
}

.carousel-indicators--numbers li {
    display: inline-block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    color: #4B4B4B;
    width: 40px;
    height: 40px;
    line-height: 42px;
    text-align: center;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.carousel-indicators--numbers li.active,
.carousel-indicators--numbers li:hover {
    background: #fff;
    color: #EBCB80;
    border: 1px solid transparent;
    width: 40px;
    height: 40px;
    line-height: 42px;
    border-radius: 50%;
    border: #F6F6F6 solid 1px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.projects-pagination__li {
    display: inline-block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    color: #4B4B4B;
    width: 40px;
    height: 40px;
    line-height: 42px;
    text-align: center;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.projects-pagination__li img {
    width: 8px;
    height: 16px;
    margin-top: 11px;
}

.projects-pagination__li:hover,
.projects-pagination__li.active {
    background: #fff;
    color: #EBCB80;
    border: 1px solid transparent;
    width: 40px;
    height: 40px;
    line-height: 42px;
    border-radius: 50%;
    border: #F6F6F6 solid 1px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.projects-pagination__li.active {
    color: #EBCB80;
    border: 1px solid transparent;
    width: 40px;
    height: 40px;
    line-height: 42px;
    border-radius: 50%;
    border: #F6F6F6 solid 1px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.projects-pagination__li:hover:after,
.projects-pagination__li.active:after {
    background: #fff;
    color: #EBCB80;
    border: 1px solid transparent;
    width: 40px;
    height: 40px;
    line-height: 42px;
    border-radius: 50%;
    border: #F6F6F6 solid 1px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    opacity: -2;
}

.projects-pagination__control img {
    padding-top: 12px;
}

.team {
    margin-top: 15px;
}

.team__carousel {
    background-image: url("../img/bg-team.svg");
    height: 256px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: #fff;
}

.team-carousel__content h3 {
    font-size: 24px;
    margin-bottom: 0px;
    margin-top: 28px;
    color: #FFF;
}

.team-carousel__content h4 {
    margin-top: 3px;
    font-size: 12px;
}

.team-carousel__content {
    display: flex;
    flex-direction: column;
    margin-left: 37px;
    margin-right: 10%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
}

.team-carousel__content p {
    margin-top: 19px;
    font-size: 11px;
    line-height: 16px;
}

.team__pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    justify-content: center;
    flex-direction: row;
}

.team__pagination {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1.5rem;
    margin-left: 15%;
    list-style: none;
}

.carousel-indicators--team [data-bs-target] {
    box-sizing: border-box;
    width: 8px;
    height: 8px;
    border: 1px solid white;
    border-radius: 100px;
    display: inline-block;
    cursor: pointer;
    margin: 0 4px;
    transition: 0.3s;
    background-color: transparent;
    opacity: inherit;
}

.team-pagination__dot {
    width: 8px;
    height: 8px;
    border: 1px solid white;
    border-radius: 100px;
    display: inline-block;
    cursor: pointer;
    margin: 0 4px;
    transition: 0.3s;
}

.team-pagination__dot.active {
    background: white;
}

.team-pagination__dot:hover,
.team-pagination__dot:active {
    transition: 0.3s;
    border-color: white;
    background: white;
    transform: scale(1.5);
}

.team-pagination__dot:hover:after,
.team-pagination__dot:active:after {
    background: white;
    top: -18px;
    opacity: 1;
}

.contact {
    margin-top: 15px;
    color: #4B4B4B;
}

.contact__iphone {
    display: none;
}

.form--boder {
    border-bottom: 1.5px solid #7D7D7D !important;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #7D7D7D;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

input:focus,
input:active {
    outline: none !important;
    box-shadow: none !important;
}

button:focus,
button:active {
    outline: none !important;
    box-shadow: none !important;
}

.contact--button {
    margin-top: 13px;
    margin-bottom: 13px;
    width: 140px;
    height: 22px;
    border-radius: 50px;
    background-color: #EBCB80;
    color: #4B4B4B;
    font-size: 11px;
    padding: 0.2rem;
}

.contact--button:hover {
    background-color: #4B4B4B;
    color: #EBCB80;
}

.contact-address__icons {
    display: flex;
    font-size: 11px;
    padding-bottom: 5px;
}

.contact-address__icons-location {
    margin-bottom: 13px;
}

.contact-address__icons-location,
.contact-address__icons-phone {
    margin-left: 0.25rem;
    margin-right: 10px;
}

.contact-address__icons-mail {
    margin-right: 7px;
}

.contact__socials {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.contact__map {
    margin-top: 20px;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 50%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.footer-sm {
    display: block;
}

.footer-md {
    display: none;
}

footer {
    background-color: #4B4B4B;
    color: #fff;
    height: 460px;
}

.footer__logo {
    margin-top: 22px;
    text-align: center;
}

.footer-logo__img {
    width: 118x;
    height: 83px;
    text-align: center;
}

.footer__contents {
    text-align: center;
}

.footer__contents p {
    margin-top: 10px;
    font-size: 12px;
}

.footer__contents h3 {
    margin-top: -10px;
    font-size: 12px;
    color: #FFF;
}

.footer__contents input {
    border: 1px solid #7D7D7D !important;
    background: #4B4B4B;
    width: 158px;
    height: 20px;
    font-size: 11px;
    border-radius: 3px;
}

.footer--button {
    background: #EBCB80;
    width: 25px;
    height: 20px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    position: absolute;
    margin-left: 133px;
    outline: none;
    border: none;
}

.footer--button:hover {
    background-color: #7D7D7D;
}

.footer--button img {
    background: transparent;
    width: 4px;
    height: 7px;
    margin-bottom: 9px;
}

.footer-contents__navlink {
    margin-top: 10px;
}

.footer-contents__end {
    margin-top: 26px;
}

.footer-contents__end img {
    width: 18px;
    height: 19px;
}

.footer-contents__end h3 {
    font-size: 12px;
    color: #FFF;
}

.footer-contents__end p {
    font-size: 11px;
}

address {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin-left: 15px;
}

.nav-link {
    display: block;
    padding: 10px;
    color: #0d6efd;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.link__nav-footer {
    display: flex;
    padding-left: 0px;
    margin-bottom: 0px;
    list-style: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: space-around;
}

.zoom--small:hover {
    transform: scale(0.8);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.cursor--pointer {
    cursor: pointer;
}
