@media (min-width: 768px) {
    .header {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/bg-header.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        mix-blend-mode: normal;
        height: 564px;
    }

    .header__socials-sm {
        display: none;
    }

    .header__socials-md {
        display: block;
    }

    .header__logo img {
        height: 58px;
        width: 80px;
        margin-top: 15px;
    }

    .header__link {
        margin-top: 8px;
    }

    .link-nav__item {
        font-size: 12px;
        color: white;
        padding-left: 16px;
        padding-right: 16px;
        text-decoration: none;
    }

    .header-socials__item img {
        height: 16px;
        width: 16px;
    }

    .header-socials {
        display: flex;
        flex-direction: row;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
    }

    .header__banner {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-content: center;
        align-items: center;
        margin-top: 40px;
    }

    .heafer-banner__title {
        width: 500px;
        padding: 0;
        font-size: 32px;
        line-height: inherit;
        color: white;
        white-space: wrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .heafer-banner__title h1 {
        margin: 0;
    }

    .header-banner__video video {
        height: 201.8px;
        width: 345.63px;
        margin-top: 28px;
    }

    .header-banner__scrolldown {
        margin-top: 30px;
        text-align: center;
        height: 7px;
        width: 16px;
        cursor: pointer;
    }

    .header__banner h3 {
        font-size: 32px;
        margin-bottom: 22px;
    }

    .video__overlay {
        left: 0;
        position: absolute;
        top: calc(50% - 14px);
        max-height: 100px;
        width: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .overlay--size-sm img {
        width: 56px;
        height: 56px;
    }

    .advantages-md h3 {
        font-size: 32px;
        margin-bottom: 22px;
    }

    .advantages-sm {
        display: none;
    }

    .advantages-md {
        display: block;
    }

    .advantages-contents__macbook-lg {
        display: none;
    }

    .advantages__contents {
        margin-top: 45px;
    }

    .advantages-item__main {
        padding-left: 2rem;
    }

    .advantages-contents__item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 72px;
    }

    .advantages-contents__layout img {
        width: 38.55px;
        height: 32.27px;
    }

    .advantages-contents__perfect img {
        width: 39px;
        height: 27px;
    }

    .advantages-contents__layer img {
        width: 31.38px;
        height: 26.89px;
    }

    .advantages-contents__macbook {
        margin-top: 10px;
        width: 100%;
    }

    .advantages-contents__macbook img {
        width: 442px;
        height: 100%;
    }

    .cta h3 {
        font-size: 32px;
        margin-top: 9px;
        margin-bottom: 22px;
    }

    .cta__contents {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .cta__contents p {
        margin-top: 5px;
        width: 471px;
        font-size: 11px;
        text-align: center;
    }

    .cta--button {
        width: 140px;
        height: 40px;
        border-radius: 50px;
        background-color: #EBCB80;
        color: #4B4B4B;
        font-size: 11px;
        margin-top: 29px;
    }

    .testimonials h3 {
        font-size: 32px;
        margin-bottom: 10px;
    }

    .testimonials__contents {
        margin-top: 31px;
    }

    .testimonials p {
        width: 200px;
    }

    .testimonials-card__person img {
        width: 68px;
        height: 68px;
    }

    .testimonials-contents__card {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .testimonials-contents__card:hover {
        border-radius: 5px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }

    .pricing {
        background-color: #F6F6F6;
        margin-top: 40px;
    }

    .pricing h3 {
        font-size: 32px;
        padding-top: 56px;
    }

    .card-header__sup {
        font-size: 11px;
        top: -1rem;
        left: -1rem;
    }

    .pricing__contents {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        padding-bottom: 50px;
    }

    .pricing-contents__card {
        width: 170px;
        height: 280px;
        margin-top: 30px;
        border-radius: 8px;
        background: linear-gradient(#4B4B4B 100%, #ffff 70%);
        color: #fff;
    }

    .pricing-card--left {
        background: #373737;
    }

    .pricing-card--right {
        background: #232323;
    }

    .pricing-card--center {
        width: 170px;
        height: 280px;
        margin-top: 30px;
        border-radius: 8px;
        background-color: #EBCB80;
        color: #4B4B4B;
    }

    .pricing-contents__card h5 {
        margin-top: 15px;
        font-size: 12px;
        font-weight: bolder;
        color: #EBCB80;
    }

    .pricing-card--center h5 {
        margin-top: 15px;
        font-size: 12px;
        font-weight: bolder;
        color: #4B4B4B;
    }

    .card-header__number {
        margin-top: -10px;
        font-size: 36px;
    }

    .pricing-card__title {
        font-size: 12px;
        font-weight: bolder;
        margin-top: -10px;
        margin-bottom: 15px;
    }

    .pricing-card__main {
        font-size: 11px;
        line-height: 1rem;
    }

    .pricing-card__header {
        margin-top: -15px;
    }

    .pricing--yellow-button {
        margin-top: 5px;
        width: 120px;
        height: 40px;
        border-radius: 50px;
        background-color: #EBCB80;
        color: #4B4B4B;
        font-size: 11px;
        padding-top: 12px;
    }

    .pricing--dark-button {
        background-color: #4B4B4B;
        color: #fff;
        margin-top: 5px;
        width: 120px;
        height: 40px;
        padding-top: 12px;
    }

    .projects {
        margin-top: 28px;
    }

    .projects h3 {
        font-size: 32px;
        margin-bottom: 30px;
    }

    .projects-md {
        display: block;
    }

    .projects-sm {
        display: none;
    }

    .projects__pagination-md {
        display: block;
    }

    .projects-card__1 {
        height: 240px;
        background: url("../img/first-card.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .projects-card__2 {
        background-image: url("../img/second-card.png");
        height: 240px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 40px;
    }

    .main-item-1__title h6 {
        font-size: 24px;
        margin-bottom: 3px;
        margin-top: 41px;
    }

    .main-item-1__title {
        font-size: 12px;
        width: 185px;
    }

    .card-2-main__item-2 {
        font-size: 11px;
        margin-top: 20px;
    }

    .projects-card__hr--white {
        border: #fff solid 2px;
        width: 1rem;
        background-color: #fff;
        opacity: inherit;
    }

    .card-2-main__item-2 p {
        font-size: 11px;
        margin-top: 24px;
        white-space: wrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .projects-card__socials ul .nav-link {
        padding-top: 15px;
        color: #fff;
        padding-left: 0;
        text-decoration: none;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    }

    .projects-card__socials img {
        padding-top: 4px;
        padding-right: 5px;
    }

    .projects-card__3 {
        background-image: url("../img/third-card.png");
        height: 240px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .projects-card__4 {
        background-image: url("../img/four-card.png");
        height: 240px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .projects-card__5 {
        background-image: url("../img/five-card.png");
        height: 240px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .projects-card__6 {
        background-color: #F6F6F6;
        background-image: none;
        color: #4B4B4B;
        height: 240px;
    }

    .main-item-1__title h6 {
        font-size: 24px;
        margin-bottom: 3px;
        margin-top: 41px;
    }

    .main-item-1__title {
        font-size: 12px;
        width: 185px;
    }

    .card-6-main__item-2 {
        font-size: 11px;
        margin-top: 20px;
        width: 185px;
    }

    .projects-card__hr--black {
        border: #4B4B4B solid 2px;
        width: 1rem;
        background-color: #4B4B4B;
        opacity: inherit;
    }

    .card-6-main__item-2 p {
        width: 100px;
        font-size: 36px;
        line-height: 2rem;
        margin-top: 24px;
    }

    .projects-card__7 {
        background-image: url("../img/six-card.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 240px;
    }

    .projects__card {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .projects__pagination-md {
        display: block;
    }

    .projects__pagination {
        margin-top: 30px;
    }

    .team {
        margin-top: 50px;
    }

    .team__carousel {
        background-image: url("../img/bg-team.svg");
        height: 315px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        color: #fff;
    }

    .team-carousel__content-md {
        margin: 0px 0px 5px 0px;
        display: flex;
        flex-direction: column;
        justify-content: end;
        padding-right: 110px;
    }

    .team-carousel__content-md h3 {
        margin-bottom: 5px;
    }

    .team__pagination {
        position: absolute;
        left: 80%;
        top: 50%;
    }

    .team-pagination__dot {
        margin-bottom: 10px;
    }

    .carousel-indicators--team [data-bs-target] {
        box-sizing: border-box;
        width: 8px;
        height: 8px;
        border: 1px solid white;
        border-radius: 100px;
        display: inline-block;
        cursor: pointer;
        /* margin: 0 4px; */
        transition: 0.3s;
        margin: 5px;
        opacity: inherit;
    }

    .contact h3 {
        font-size: 32px;
        margin-top: 34px;
        margin-bottom: 48px;
    }

    .contact__iphone {
        display: none;
    }

    .contact--button {
        margin-top: 30px;
        margin-bottom: 13px;
        width: 140px;
        height: 32px;
        border-radius: 50px;
        background-color: #EBCB80;
        color: #4B4B4B;
        font-size: 11px;
        padding: 0.2rem;
    }

    .contact-address__icons {
        margin-bottom: 15px;
    }

    .contact__socials {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
    }

    .contact__socials img {
        width: 22px;
        height: 22px;
    }

    .footer-sm {
        display: none;
    }

    .footer-md {
        display: block;
    }

    .footer-contents__navlink {
        display: flex;
        padding-left: 0px;
        margin-bottom: 0px;
        list-style: none;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        align-content: space-around;
    }

    footer {
        background-color: #4B4B4B;
        color: #fff;
        height: 354px;
    }

    .footer__logo {
        margin-top: 22px;
    }

    .footer-img__logo {
        width: 118x;
        height: 83px;
    }

    .footer__contents {
        width: 220px;
        text-align: start;
    }

    .footer-md .footer__contents-intro p {
        margin-top: 10px;
        font-size: 12px;
        text-align: start;
    }

    .footer-contents__copyright p {
        width: 150px;
        font-size: 11px;
        text-align: start;
    }

    .footer__contents h3 {
        margin-top: 16px;
        font-size: 12px;
    }

    .footer__contents input {
        border: 1px solid #7D7D7D !important;
        background: #4B4B4B;
        width: 158px;
        height: 24px;
        font-size: 11px;
    }

    .footer__contents button {
        background: #EBCB80;
        width: 25px;
        height: 24px;
        position: absolute;
        margin-left: 130px;
        outline: none;
        border: none;
    }

    .footer-contents__navlink .link__nav {
        display: flex;
        padding-left: 0px;
        margin-bottom: 0px;
        list-style: none;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        align-content: space-around;
    }

    .footer__contents button img {
        background: transparent;
        width: 6px;
        height: 9px;
        margin-bottom: 10px;
    }

    .footer-contents__end li a {
        padding-right: 4px;
        padding-left: 20.5px;
    }

    .footer-contents-end__title {
        margin-top: 15px;
        margin-left: 15px;
    }

    .footer-md .footer-contents__end h3 {
        text-align: end;
    }

    .footer-contents__end {
        margin-top: 26px;
    }

    .footer-contents__end img {
        width: 18px;
        height: 19px;
    }

    .footer-contents__end h3 {
        font-size: 12px;
        margin-right: 43px;
    }

    .footer-contents__end p {
        font-size: 11px;
    }
}
